img {
    align-content: center;
    width: 100%;
}

.card-body {
    width: 100%;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.create-form {
    text-align: center;
    width: 75%;
    margin-right: 0%;
}

.form {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.burger-entry{
    text-align: center;
}

.container{
    padding-top: 30px;
}